@import 'global';

.Banner {
	position: relative;
	height: 800px;
	width: 1925px;
	display: 'flex';
	flex-direction: 'column';
	align-items: 'center';

	.Media {
		background-color: white;
		height: 100%;
		overflow: hidden;
		position: relative;

		.MediaCaption {
			text-overflow: ellipsis;

			position: absolute;
			bottom: 0;

			padding: 15px;

			background-color: black;
			color: white;
			opacity: 0.6;

			width: 100%;
			height: 10%;

			font: {
				size: $header-font-size;
				weight: 200;
			}

			transition: 300ms;
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}
		}

		transition: 300ms;
		cursor: pointer;
		&:hover {
			filter: brightness(115%);
		}
	}

	.BannerGrid {
		height: 100%;
		position: relative;
	}

	.Content {
		color: black;
		background-color: #734d4d;
		height: 100%;

		position: relative;

		cursor: pointer;

		padding: 30px;

		transition: 300ms;

		&:hover,
		&:active {
			background-color: #664242;

			.AboutEBSButton {
				background-color: #85514a;
				color: black;
				box-shadow: 5px 10px 18px black;
			}
		}

		.Title {
			font-size: $huge-font-size;
			font-weight: 500;
		}

		.Caption {
			margin-top: 10px;
			font-size: $bigger-font-size;
		}

		.AboutEBSButton {
			margin-top: 40px;
			color: black;

			font-size: $header-font-size;
			border: 3px solid black;
			text-transform: capitalize;

			transition: 200ms;
		}
	}
}

@media screen and (max-width: 800px) {
	.Banner {
		height: 80vh;
		width: 80vh;
	}
}

@media screen and (max-width: 600px) {
	.Banner {
		height: 80vh;
		width: 60vh;
	}
}
